:root {
  --color-primary: #006400; /* Dark Green for text */
  --color-secondary: #FFFFF0; /* Even lighter beige (Ivory) for background */
  --color-button: #8FBC8F; /* Dark Sea Green for buttons */
  --color-border: #8FBC8F; /* Dark Sea Green for borders */
  --color-element-bg: #FFFFFF; /* White for element background */
  --color-text: #006400; /* Dark Green for general text */
  --color-button-text: #FFFFFF; /* White for button text */
  --color-button-bg: #B0C4DE; /* Light Steel Blue for button background */
}

body,

h1,
h2,
h3,
.labell,
.countdown-label,
#guest-count,
#guest-count-no,
.guest-count-label,
.time,
.event,
.timeline-text,
.contact-link,
.popup-section form,
form input,
form select,
form textarea {
  color: var(--color-primary) !important;
}

*,
*:before,
*:after {
  border-color: var(--color-border) !important;
}

body,
section,
.popup-section,
.contact-box,
.countdown-box,
.kehadiran,
.animated-border,
.carousel-wrapper,
.ucapan-scroll,
.timeline-row,
.timeline li,
.confirm-popup,
input,
textarea,
select,
button,
.map-btn,
#enter-btn,
.popup-buttons button,
#navigation {
  background-color: var(--color-secondary) !important;
}

button,
.map-btn,
.kehadiran,
.popup-buttons button {
  background-color: var(--color-button) !important;
  color: var(--color-button-text) !important;
}

.tarikh-btn {
  background-color: var(--color-button-text) !important;
  color: var(--color-button) !important;
}

.nav-icon,
.wa-icon {
}

#music-icon {
}
